<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr />

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email">
                <div class="text-danger">{{getEmailValidationError()}}</div>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <div class="text-danger">{{getPasswordValidationError()}}</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>